:root {
  --color-green-600: #89da59;
  --color-green-800: #60b32e;
  --color-green-900: #4e9326;

  --color-beige-100: #fbd197;

  --color-orange-400: #f79a1d;

  --color-yellow-400: #EAD21E;

  --color-black-900: #1C1A1B;
  --color-black-600: #2D2F2B;


  --padding-y: 40px;
  --padding-x: 20px;


  --font-title: 'Alice', serif;
  --font-body: 'Montserrat', sans-serif;
}


#comparison,
.comparison_button,
.product-page__compare {
  display: none !important;
}

header {
  .header__top {
    background-color: var(--color-green-800);
  }

  .header__center {
    .f_row {
      gap: 10px;
    }

    .header__logo {
      flex: 1 0 230px;
      max-width: 230px;

      .logo__link {
        width: 100%;
        padding: 0;
      }
    }
  }

  .header__menu {
    font-family: var(--font-title);

    .menu_group__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;
      gap: 20px;

      li {
        a {
          padding: 20px 5px;
          font-size: 17px;
        }
      }
    }
  }

  .header__bottom_panel {
    gap: 10px;

    .header_informers {
      gap: 10px;

      .header_informers__item {
        max-width: 44px;
      }
    }
  }
}

footer.footer {
  padding-top: var(--padding-y);
  background-color: var(--color-green-800);

  .footer__copyright {
    background-color: var(--color-black-600);
    border-top: none;
  }
}

.fn_to_top.to_top {
  left: auto;
  right: 2%;
}